#!groovy

import com.microsoft.azure.util.*;
import com.cloudbees.plugins.credentials.*;
import com.cloudbees.plugins.credentials.impl.*;
import com.cloudbees.plugins.credentials.domains.*;

def jenkinsLocationConfiguration = JenkinsLocationConfiguration.get()
def url = jenkinsLocationConfiguration.getUrl();
jenkinsLocationConfiguration.setUrl(url);

AzureCredentials servicePrincipal = new AzureCredentials(CredentialsScope.GLOBAL, 
  'spirit-sp', 
  'Service Principal for Spirit builds', 
  "{{ azure_subscription_id }}", 
  "{{ azure_client_id }}", 
  "{{ azure_sp_password }}"); 

servicePrincipal.setTenant("{{ azure_tenant_id }}");

SystemCredentialsProvider
  .getInstance()
  .getStore()
  .addCredentials(Domain.global(), servicePrincipal);
